################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineExamPortal/.vs/OnlineExamPortal/v16
/OnlineExamPortal/obj
/OnlineExamPortal/OnlineExamPortal.sln
